<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 80vh;
        }

        .container h2 {
            font-size: 3rem;
            margin-bottom: 0.5rem;
        }

        .container p {
            font-size: 1.5rem;
            margin: 0.3rem;
        }

        .text-black-400 {
            color: rgb(255, 255, 255);
        }

        .foto{
            width: 50%;
            height: 80%;
        }
    </style>
</head>

<body>
    <div class="container mx-auto text-center mt-10">
        <h2 class="text-4xl text-white-400">Julian Andres Silva Beltran</h2>
        <p class="text-lg text-white-400">Seguridad de la informacion</p>
        <p class="text-base text-white-400">Universidad El Bosque</p>
        <p class="text-sm text-white-400">Certificado auto firmado SSL</p>        
        <img class="foto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Jonathan_G_Meath_portrays_Santa_Claus.jpg/640px-Jonathan_G_Meath_portrays_Santa_Claus.jpg" alt="">
    </div>
</body>

</html>
